<header>
    <nav class="navbar">
        <a href="../home.php" class="logo">
            <img src="../assets/logo-hotel.png" alt="">
        </a>

        <div class="ul">
            <a href="./clients.php">Clients</a>
            <a href="./reservations.php">Reservations</a>
            <a href="./roomslist.html">Chambres</a>
        </div>


        <div class="tabButton">
            <button>Book now</button>
        </div>
        
        <span onclick="opensidebar();" style="cursor: pointer;" class="material-icons-round icons menuicon">menu</span>
        <span onclick="closesidebar();" style="cursor: pointer;display: none;" class="material-icons-round icons closeicon">close</span>
    </nav>
</header>