.sidebar{
    width: 80vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: var(--background-color);
    box-shadow: 0   ;
    z-index: 999;
    transition: all 0.5s;
    left: -80vw;
}

.sidemenu{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sidemenu a {
    text-decoration: none;
    color: var(--font-color);
}

.sidetext{
    font-size: 36px;
}

.sidetext:hover{
    margin-left: -10px;
    transform: scale(1.2);
    transition: all 0.1s;
}


@media screen and (max-width: 300px){
    .sidetext{
        font-size: 28px;
    }
}

@media screen and (max-width: 225px){
    .sidetext{
        font-size: 22px;
    }
}