.content{
    padding-top: 82px;
}

.categoryline{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: start;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 22px;
    grid-row-gap: 12px;
    padding: 0 40px;
}

.title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}

.clientpannel{
    margin-top: 100px;
    width: 90vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 100px;
}

.categoryline span{
    font-weight: bold;
}

.clientlist{
    padding: 0 40px;
}

.addclientline input{
    border: 1px solid rgba(0,0,0,0.2)!important;
    border-radius: 4px;
}

.addclientbtn{
    background: var(--primary-color);
    color: var(--background-color);
    height: 44px;
    width: 94px!important;
    border-radius: 10px!important;
    font-family: 'Poppins';
    cursor: pointer;
    font-weight: bold;
    margin: 0 20px;
}

.addclientbtn:hover{
    background: var(--secondary-color);
    transition: 0.5s;
}

.deleteButton{
    background: red;
    color: var(--background-color);
    height: 44px;
    border-radius: 10px!important;
    font-family: 'Poppins';
    cursor: pointer;
    font-weight: bold;
    margin: 0 20px;
}

.deleteButton:hover{
    background: rgb(202, 0, 0);
    transition: 0.5s;
}

input{
    width: 100%!important;
    padding: 10px 0px!important;
    border: 0!important;
}

ul{
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0;
    margin-bottom: 0;
}

li form{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: start;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 22px;
    margin-bottom: 22px;
}

.searchbar{
    max-width: 300px!important;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 15px 30px!important;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 100rem;
}

.deleteBtn{
    background-color: red;
    font-weight: bold;
}

.saveBtn{
    background: rgb(0, 199, 0);
    color: var(--background-color);
    height: 44px;
    width: 94px!important;
    border-radius: 10px;
    margin: 0 20px;
    font-family: 'Poppins';
    cursor: pointer;
    font-weight: bold;
}

.saveBtn:hover{
    background: rgb(0, 128, 0);
    transition: 0.5s;
}

select{
    border: none;
    border-radius: none;
    transition: all 1s;
}

@media screen and (max-width: 1430px) {
    .email{
        display: none;
    }
}
@media screen and (max-width: 1300px) {
    .civilite{
        display: none;
    }
}
@media screen and (max-width: 1150px) {
    .adresse{
        display: none;
    }
}
@media screen and (max-width: 1025px) {
    .codePostal{
        display: none;
    }
}
@media screen and (max-width: 890px) {
    .pays{
        display: none;
    }
}
@media screen and (max-width: 745px) {
    .ville{
        display: none;
    }
}
@media screen and (max-width: 610px) {
    .clientpannel{
        margin-top: 200px;
    }
    .saveBtn{
        display: none;
    }
    .deleteBtn{
        display: none;
    }
    .catbtn{
        display: none;
    }
    .clientline{
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
    }
    .itemicon{
        display: initial!important;
    }
    li form{
        grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    }
    .categoryline{
        grid-template-columns: repeat(auto-fit, minmax(10px, 80px));
        justify-content: start;
    }
    .moreicon{
        transform: translateY(0px)!important;
    }

}

.oneicons{
    cursor: pointer;
}
.itemicon{
    display: none;
}
.deleteicon{
    color: red;
    margin-right: 6px;
}

.moreicon{
    position: absolute;
    right:7px;
    transform: translateY(-56px);
    cursor: pointer;
}

.select{
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: -10px;
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    background-color: white;
    padding: 6px;
    z-index: 9999;
    box-shadow: var(--box-shadow);
    transition: all 0.25;
    display: none;
}

.selectoption:hover{
    font-weight: 600;
    cursor: pointer;
}

.deleteoption{
    color: red!important;
}

.material-icons-round{
    color: rgba(0, 0, 0, 0.6);
}

.textInfo{
    font-weight: initial;
    text-transform: lowercase;
    display: flex;
    font-size: 14px;
}