<header>
    <nav class="navbar">
        <a href="./" class="logo">
            <img src="./assets/logo-hotel.png" alt="">
        </a>
        <ul>
            <li ><a href="./home.php">Home</a></li>
            <li ><a href="./room.php">Chambre</a></li>
            <li ><a href="./dates.html">Dates</a></li>
            <li ><a href="./account.html">Account</a></li>
        </ul>  

        <div class="tabButton">
            <button>Book now</button>
        </div>
        
        <span onclick="opensidebar();" style="cursor: pointer;" class="material-icons-round icons menuicon">menu</span>
        <span onclick="closesidebar();" style="cursor: pointer;display: none;" class="material-icons-round icons closeicon">close</span>
    </nav>
</header>